@import 'tailwindcss';

:root {
  --foreground: #171717;
  --background: #fdfbee;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

.gridBox {
  @apply border border-gray-300 rounded flex flex-col justify-center items-center p-4 gap-4;
}

.gridBox:hover {
  @apply border-gray-500 transition-colors duration-300 ease-in-out;
}
