@import 'tailwindcss';

:root {
  --light: #fdfbee;
  --dark: #171717;
}

@theme inline {
  --color-background: var(--dark);
  --color-foreground: var(--light);
}

body {
  background: var(--dark);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, scale, opacity;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 1000;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
  transform-origin: top center;
}

.gridBox {
  @apply border border-gray-300 rounded flex flex-col justify-center items-center p-4 gap-4;
}

.gridBox:hover {
  @apply border-gray-500 transition-colors duration-300 ease-in-out;
}

.gridBoxAboutPage {
  @apply rounded p-4 border-gray-300 border flex flex-col justify-center items-center gap-4 order-12 text-gray-800;
}
